<!DOCTYPE html>  
<html>  
<head>  
    <title>Bennett university</title>  
</head>  
<body>  
    <h2><center>Enter your details</center></h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <center><tr><td>Name</td><td><input type="text" name="name"></td></tr></center>  
        <tr><td>Enrollment No.</td><td><input type="string" name="email"></td></tr>  
       
        <tr><td><center><input type="submit" value="Submit"></center></td></tr>  
    </table>  
    </form>  
</body>  
</html>  